<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>

    <!--- as final output, Rails smashes asset specified asset files together -->
    <!--- it'll be something like application-1fc71ddbb281c144b2ee4af31cf0e308.js -->
    <!--- line 13 below lets Rails know to find that wild output file off all this -->


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<!--- Namespacing: we can nest classes like my #sidebar and #logo below (but think classes) so as to only add certain styling to a certain nested combination -->
  	<div id="sidebar">
  		<div id="logo">
  			<%= link_to root_path do %>
  				<%= image_tag "dddragon.png" %>
  			<% end %>
  		</div>

  		<ul>
  			<li class="category">Website</li>
  			<li><%= link_to "Blog", root_path %></li>
  			<li>About</li>
  		</ul>
  		<ul>
  			<li class="category">Social</li>
  			<li><a href="https://6r36.wordpress.com/2012/01/05/happy-new-ynternet-2/">Hong Kong</a></li>
  			<li><a href="https://6r36.wordpress.com/2012/03/20/loose-ends/">Morocco</a></li>
  			<li><a href="https://6r36.wordpress.com/2011/03/08/marocco-part-2/">Morocco 2</a></li>
  			<li><a href="https://6r36.wordpress.com/2011/03/12/morocco-final-part/">Morocco 3</a></li><br>
  			<li><a href="/posts/new">New Post</a></li>
  		</ul>  

  		<p class="sign_in">Admin Login</p>		

  	</div>
    

    <%= yield %>
  
  </body>
</html>
